@media (min-width: 1200px) {

  .main__section-1-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0;
    align-items: center;
    border-bottom: 1px solid #252525;
    padding: 70px 0px;
    height: 404px;
}

.main__section-1-about {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    height: 232px;
    background: #252525;
    width: 444px;
}

.main__section-1-text {
    height: 218px;
    margin: 0;
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    font-size: 62px;
    color: #252525;
    width: 1295px;
    display: block;
}

.main__section-2 {
    border-bottom: 1px solid #252525;
    width: auto;
    padding: 0;
}

.main__section-2-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 70px;
}

.main__section-3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.main__secction-3-image-container {
    width: 980px;
    height: 1230px;
}

.main__section-3-block {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 0;
    width: 940px;
}

.main__section-3-header {
    padding: 0px 70px 0px 111px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

.main__section-3-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    font-size: 140px;
    text-transform: uppercase;
    color: #252525;
    margin-top: 70px;
}

.main__secction-3-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;

    padding: 0px 70px 0px 111px;

}

.main__section-3-block-title {
    font-size: 44px;
    line-height: 1.09091;
    text-transform: uppercase;
    color: #000;
}

  .main__section-4 {
    padding: 70px 70px 100px;;
  }

  .main__section-4-subblock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 70px;
  }
  .main__section-4-block-img-1:nth-child(1) {
    order: 2;
  }

  .main__section-4-block-img-2:nth-child(2) {
    order: 3;
  }

  .main__section-4-design-1:nth-child(3) {
    order: 1;
  }

  .main__section-4-block-img-3:nth-child(4) {
    order: 4;
  }

  .main__section-4-block-img-4:nth-child(5) {
      order: 5;
    }

  .main__section-4-design-2:nth-child(6) {
    order: 6;
  }



  .main__section-4-block-img {

    margin: 0;
  }




  .main__section-4-design {
    height: 100%;
    width: 100%;

    justify-content: space-between;
  }

  .main__section-4-design-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 40px;
  }

  .main__section-4-btn {
    margin-top: 70px;
  }





  .main__section-5-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    padding: 0 70px 70px;
    margin: 0;
  }

  .main__section-5 {
    border: none;
  }

  .main__section-5-subblock {
    padding: 30px 50px;
    border: none;

    &--mod-1,
    &--mod-2,
    &--mod-4,
    &--mod-5 {
      border-right: 1px solid rgb(37, 37, 37);
    }

    &--mod-1,
    &--mod-2,
    &--mod-3 {
      border-bottom: 1px solid rgb(37, 37, 37);
    }
  }

  .main__section-6 {
    margin-top: 50px;
    border-top: 1px solid rgb(37, 37, 37);

    padding: 50px 70px;
  }

  .main__section-6-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
  }

  .main__section-6-subblock-job {
    align-items: flex-start;
    height: 635px;

    grid-column-start: 3;
    grid-column-end: 5;
  }

  .main__section-6-job-title {
    color: rgb(51, 51, 51);
    font-family: "Gilroy-extra", sans-serif;
    font-size: 64px;
    text-align: left;
    text-transform: uppercase;
  }

  .main__section-7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;

    padding: 100px 70px;
  }

  .main__section-7-block {
    align-items: flex-start;
  }

  .main__section-7-block-title,
  .main__section-7-block-text {
    text-align: start;
  }

  .main__section-7-block-title {
    color: rgb(37, 37, 37);
    font-family: "Gilroy-medium", sans-serif;
    font-size: 64px;
    text-align: left;
    text-transform: uppercase;
  }

  .footer {
    padding: 0 70px;
  }
  
}