@media (min-width: 320px) {
    .header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;

        padding: 20px;
    }

    .header__sublogo {
        display: none;
    }

    .header__title {
        font-family: "Gilroy-extra", sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }

    .header__text-menu {
        font-family: "Gilroy", sans-serif;
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        color: #252525;
    }

    .header__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;

        width: auto;
    }

    .header__logotipe {
        display: flex;
        flex-direction: row;
    }

    .header__text {
        font-family: "Gilroy", sans-serif;
        font-weight: 400;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }

    .header__subtitle {
        font-family: "Gilroy", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
    }

    .header__arrow {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

@media (min-width: 768px) {

    .header {
        padding: 40px 30px;
    }

    .header__logo {
        display: flex;
        justify-content: space-between;
        height: 101px;
    }

    .header__sublogo {
        display: flex;
        width: 262px;
        height: 43px;

        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        font-size: 35px;
        letter-spacing: -0.02em;
        text-align: center;
        color: #000;
    }

    .header__sublogo-span {
        font-family: "Gilroy", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
    }    

    .header__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 273px;
    }

    .header__title {
        font-family: "Gilroy-extra", sans-serif;
        font-weight: 400;
        font-size: 120px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }

    .header__subtitle {
        font-family: "Gilroy", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
        font-size: 100px;
    }
}

@media (min-width: 1200px) {

    
    .header__title {
        font-family: "Gilroy", sans-serif;
        font-weight: 800;
        font-size: 130px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }
    .header__subtitle {
        font-family: "Gilroy", sans-serif;
        font-weight: 300;
        text-transform: capitalize;
    }

    .header__arrow {
        margin-top: 30px;
    }

    .header__text-menu {
        font-weight: 800;
    }
} 