//colors
$primary-color: rgb(255, 255, 255);
$dark-primary-color: rgb(55, 73, 87);
$dark-color: rgb(32, 32, 32);




//fonts
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-medium";
  src: url("../fonts/Gilroy-Light.otf") format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-bald";
  src: url("../fonts/Gilroy-ExtraBold.otf") format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-extra";
  src: url("../fonts/Gilroy-ExtraBold.otf") format('opentype');
  font-weight: 800;
  font-style: normal;
}

//weights
$font-regular: 500;
$font-medium: 700;

//size
//$font-size-xs: ;
$font-size-root: 16px;
$font-size-medium: 18px;
$font-size-large: 20px;
$font-size-extra-large: 30px;
$font-size-xl: 40px;
$font-size-xxl: 80px;